
# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Streamlit
.streamlit/secrets.toml

# Project outputs
results/
results_web/
coverage_trajectory.json
*.zip

# User data
# input.xlsx # Keep this if you want a default file
*.log
